
@font-face{
	font-family: 'Helvetica';
	src: url(fonts/FaunaOne-Regular.ttf);
}


@font-face{
	font-family: 'Aovel';
	src: url(fonts/maison-neue-light.ttf);
}

@font-face{
	font-family: 'Equil';
	src: url(fonts/equil.otf);
}

@font-face{
	font-family: 'text';
	src: url(fonts/Butler_Light.otf);
}


.topnav {
  background-color: #ececec;
  overflow: hidden;
  z-index: 10;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 12px;
  font-family: "Aovel";
  text-transform: uppercase;
  letter-spacing: 10px;
  padding-top: 23px;
  background-color: #ececec;

}

/* Change the color of links on hover */
.topnav a:hover {
  /*transform: scale(1.1);*/
  color: #e25c02;

}

li{
  list-style: none;
}
/* Add a color to the active/current link */
.logo a {
  float: left;
  font-family: "Equil";
  font-size: 30px;
  text-decoration: none;
   color: #000000;
   background-color: #ececec;

}


.navbar {
border-bottom: 3px solid #e25c02;
position: fixed; /* Set the navbar to fixed position */
top: 0; /* Position the navbar at the top of the page */
width: 100%;
background-color: #ececec;
}

p {

font-family: "text";
font-size: 16px;
letter-spacing: 1.5px;


}

.footer {
   left: 0;
   bottom: 0;
   width: 100%;

   color: black;
   text-align: center;
   border-top: 1px solid black;
   position:fixed;
   background-color: #ececec;

}


body {
    /*animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;*/
    background-color: #ececec;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}



h3 {
padding-bottom: 5%;
font-family: "Equil";
text-transform: uppercase;
letter-spacing: 10px;
font-size: 18px;

text-align: center;

}



img{
  width: 55%;

}

.column1 {
  float: left;
  padding: 2%;
  width: 35%;
  text-align: center;

}

.column2 {
  float: right;
 padding: 2%;
  width: 35%;
 text-align: center;

}

.both{

margin-top: 3%;
margin-left: 12%;
margin-right: 12%;


}

.bold {
font-family: "Aovel";
text-transform: uppercase;
letter-spacing: 10px;

}


.od {
font-family: "Aovel";
text-transform: uppercase;
letter-spacing: 5px;
font-size: 30px;
font-weight: bolder;
color: #e25c02;
}

.jail {
font-family: "Equil";
  font-size: 15px;
  text-decoration: none;
   color: #000000;
}

.od2 {
font-family: "Aovel";
text-transform: uppercase;
letter-spacing: 5px;
font-size: 15px;
font-weight: bolder;
color: #e25c02;
}

.topnav .icon {
  display: none;

}

@media screen and (max-width: 600px) {
  .topnav a{
  display: none;
  float:right;

  }
  .topnav a.icon {
    float: right;
    display: block;
    color:black;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav a:first-child{position:relative; margin-top:50px;}
  .topnav.responsive .icon {
    color: black;
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {

    display: block;
    text-align: right;

  }
}

.circle{
  content: "";
   margin:auto;
    border-radius: 50%;
    left: 0;
    width: 8px;
    height: 8px;
    background-color: #e25c02;
    top: 10px;
  display:block
}



